#Dependencias de Node_Modules
node_Modules/

#Las lineas que tienen / hace referencia a una carpeta
#Los que no tienen, hace referencia a un archivo

#Archivos y carpetas de compliacion 
platforms/
plugings/
www/
build/

#Archivos del entorno de desarrollo
.idea/
.vscode/
.DS_Store
.env

#Logs y reportes 